.addTask{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 10px;
}

.addTask__input{
    flex-basis: 60%;
    box-sizing: border-box;
    padding: 20px 0 20px 20px;
    font-size: 16px;
    border: 1px solid #BDBDBD;
    border-radius: 12px;
    flex-grow: 1;
}
.addTask__button{
    flex-basis: 15%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px;
    padding: 20px 35px;
    background-color: #2F80ED;
    color: white;
    border: none;
    border-radius: 12px;
    box-shadow: 0px 2px 6px rgba(127, 177, 243, 0.4);
}