.nav{
    width: 100%;
}

.nav__list{
    display: flex;
    justify-content: space-evenly;
}

.nav__link{
    flex-basis: 25%;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}
